BODY {
	FONT-SIZE: 11px; BACKGROUND: #c0c0c0; MARGIN: 0px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
BODY {
	FONT-SIZE: 100%; BACKGROUND: #c0c0c0; MARGIN: 0px; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 100%
}
HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 100%
}
H1.h1centralcolumn {
	DISPLAY: none
}
H2.h2centralcolumn {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; COLOR: #344232
}
H2.h2label {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 120%; MARGIN-BOTTOM: 0px; COLOR: #344232; FONT-STYLE: normal
}
H3 {
	MARGIN-TOP: 0px; FONT-SIZE: 105%; MARGIN-BOTTOM: -8px; COLOR: #344232
}
A.title {
	MARGIN-TOP: 0px; FONT-SIZE: 105%; MARGIN-BOTTOM: 0px; COLOR: #344232
}
H5 {
	FONT-SIZE: 60%; MARGIN: 0px; COLOR: #ffffff
}
LI.arrow {
	MARGIN-TOP: 8px; LIST-STYLE-IMAGE: url(eg100001.gif)
}
LI.arrowdown {
	MARGIN-TOP: 8px; LIST-STYLE-IMAGE: url(eg100002.gif)
}
LI.arrowin {
	MARGIN-TOP: 8px; LIST-STYLE-IMAGE: url(eg100001.gif); MARGIN-LEFT: 17px
}
UL {
	PADDING-LEFT: 5px; LIST-STYLE-IMAGE: url(eg100033.gif); MARGIN: 6px 0px -2px 12px
}
.maintable {
	WIDTH: 769px; BACKGROUND-COLOR: #d6dacb
}
.flashmaintable {
	WIDTH: 769px; HEIGHT: 100%; BACKGROUND-COLOR: #ffffff
}
.topleft {
	PADDING-LEFT: 16px; PADDING-BOTTOM: 14px; WIDTH: 70%; HEIGHT: 80px; BACKGROUND-COLOR: #ffffff
}
.topright {
	PADDING-RIGHT: 6px; PADDING-LEFT: 0px; PADDING-BOTTOM: 14px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff
}
.frbkgd {
	BACKGROUND-IMAGE: url(eg100003.gif); WIDTH: 78px; PADDING-TOP: 7px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 28px; TEXT-ALIGN: center
}
.topnavshell {
	BACKGROUND-IMAGE: url(eg100004.gif)
}
.topnavtop {
	BACKGROUND-IMAGE: url(eg100005.gif); MARGIN-BOTTOM: -10px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 18px
}
.topnavmid {
	BORDER-RIGHT: #8e8d8d 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(eg100006.gif) #ebebeb 50% top; BORDER-LEFT: #8e8d8d 1px solid; HEIGHT: 18px
}
.topnavbtm {
	BACKGROUND: url(eg100007.gif) #d6dacb no-repeat; MARGIN-BOTTOM: -10px; HEIGHT: 18px
}
.topnavfont {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 70%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.sideHead {
	BACKGROUND: url(012991.gif) no-repeat left top; WIDTH: 172px
}
.sideHead DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
.sideHeadclose {
	BACKGROUND: url(012991.gif) no-repeat left top; WIDTH: 172px
}
.sideHeadclose DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; PADDING-TOP: 0.5em
}
.barHead {
	DISPLAY: block; BACKGROUND: url(012992.gif) no-repeat left top; OVERFLOW: hidden; LINE-HEIGHT: 2px; HEIGHT: 3px
}
.barFoot {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; BACKGROUND: url(012992.gif) no-repeat left bottom; PADDING-BOTTOM: 3px; WIDTH: 159px; PADDING-TOP: 0px
}
.arrowRight {
	FLOAT: right; MARGIN: 1px 10x 0px 5px
}
.sideHeadbtm {
	BACKGROUND: url(012993.gif) no-repeat left top; MARGIN-BOTTOM: -6px; WIDTH: 172px
}
.leftsplash {
	BACKGROUND-IMAGE: url(012874.gif); PADDING-TOP: 10px
}
.rightsplash {
	BACKGROUND-IMAGE: url(012876.gif); PADDING-TOP: 10px
}
.maintop {
	PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.mainside {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; WIDTH: 176px; PADDING-TOP: 0px
}
.mainmid {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; WIDTH: 417px; PADDING-TOP: 0px
}
.mainwhole {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; WIDTH: 769px; PADDING-TOP: 0px
}
.columnleft {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FLOAT: left; PADDING-BOTTOM: 6px; WIDTH: 50%; PADDING-TOP: 6px
}
.columnright {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; MARGIN: 0px 0px 0px 50%; PADDING-TOP: 6px
}
.splash {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(012333.gif); PADDING-BOTTOM: 20px; PADDING-TOP: 10px
}
.button-style-1 {
	BORDER-RIGHT: #171773 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #96af9a; BORDER-LEFT: #ffffff 1px solid; COLOR: #364936; BORDER-BOTTOM: #171773 1px solid
}
.tablecontentsmall {
	FONT-SIZE: 65%
}
.breadleft {
	PADDING-RIGHT: 0px; MARGIN-TOP: 4px; PADDING-LEFT: 6px; FONT-SIZE: 10px; BACKGROUND: #c6cab8; PADDING-BOTTOM: 0px; LINE-HEIGHT: 16px; PADDING-TOP: 0px; HEIGHT: 18px
}
.breadright {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-SIZE: 10px; BACKGROUND: #c6cab8; PADDING-BOTTOM: 0px; MARGIN: 4px 0px 0px; PADDING-TOP: 0px; HEIGHT: 18px
}
.topnav_index {
	WIDTH: 100%; LINE-HEIGHT: 16px; HEIGHT: 18px
}
.topnav_subleft {
	FLOAT: left; WIDTH: 78%; LINE-HEIGHT: 16px
}
.topnav_subright {
	FLOAT: left; WIDTH: 20%; LINE-HEIGHT: 16px
}
.topnav_subleft_fr {
	FLOAT: left; WIDTH: 74%; LINE-HEIGHT: 16px; PADDING-TOP: 2px
}
.topnav_subright_fr {
	FLOAT: left; WIDTH: 24%; LINE-HEIGHT: 16px
}
.pillleft {
	MARGIN-TOP: 1px; FLOAT: left; BACKGROUND-IMAGE: url(eg100026.gif); WIDTH: 8px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 16px
}
.pillmid {
	MARGIN-TOP: 1px; BACKGROUND: #dddfd4; FLOAT: left; WIDTH: 125px; LINE-HEIGHT: 16px; HEIGHT: 16px
}
.pillmid_fr {
	MARGIN-TOP: 1px; BACKGROUND: #dddfd4; FLOAT: left; LINE-HEIGHT: 16px; HEIGHT: 16px
}
.pillright {
	MARGIN-TOP: 1px; FLOAT: left; BACKGROUND-IMAGE: url(eg100027.gif); WIDTH: 8px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 16px
}
.spaceaboveicon {
	MARGIN-TOP: 9px; MARGIN-BOTTOM: 0px; WIDTH: 172px
}
.boxsearchshellform {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.boxshellside {
	MARGIN-TOP: 1px; MARGIN-BOTTOM: 0px; WIDTH: 172px
}
.boxshellmain {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 0px; WIDTH: 413px
}
.spaceabovefooter {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 8px; WIDTH: 413px
}
.spaceabovefooter_1 {
	MARGIN-TOP: 1px; MARGIN-BOTTOM: 8px; WIDTH: 413px
}
.boxshellwhole {
	MARGIN-TOP: 1px; MARGIN-BOTTOM: 0px; WIDTH: 765px
}
.boxheadbkgd_side {
	BACKGROUND-IMAGE: url(eg100030.gif); WIDTH: 172px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 28px
}
.boxheadbkgd {
	BACKGROUND-IMAGE: url(eg100008.gif); WIDTH: 172px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 28px
}
.boxheadbkgd_closed {
	BACKGROUND-IMAGE: url(eg100009.gif); MARGIN-BOTTOM: 4px; WIDTH: 172px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 29px
}
.boxheadbkgd_wh {
	BACKGROUND-IMAGE: url(stel01_046778.gif); WIDTH: 413px; BACKGROUND-REPEAT: no-repeat
}
.boxheadbkgd_whole {
	BACKGROUND-IMAGE: url(eg100031.gif); WIDTH: 765px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 28px
}
.headshell {
	PADDING-RIGHT: 8px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 8px; TEXT-TRANSFORM: uppercase; COLOR: #344232; PADDING-TOP: 8px; POSITION: relative
}
.headshell2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LEFT: 6px; COLOR: #344232; POSITION: relative; TOP: 8px
}
.smallheadshell {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #344232; POSITION: relative; TOP: 4px
}
.boxcontent {
	BORDER-RIGHT: #8e8d8d 1px solid; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 70%; BACKGROUND-IMAGE: url(eg100011.gif); MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 6px; BORDER-LEFT: #8e8d8d 1px solid; PADDING-TOP: 6px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 100%; BACKGROUND-COLOR: #f5f6f1
}
.boxcontent_white {
	BORDER-TOP-WIDTH: 0px; BORDER-RIGHT: #8e8d8d 1px solid; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 70%; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 6px; BORDER-LEFT: #8e8d8d 1px solid; PADDING-TOP: 6px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 100%; BACKGROUND-COLOR: #ffffff
}
.fixboxcontent {
	BORDER-RIGHT: #8e8d8d 1px solid; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 70%; BACKGROUND-IMAGE: url(eg100011.gif); MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 6px; BORDER-LEFT: #8e8d8d 1px solid; PADDING-TOP: 6px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 100%; BACKGROUND-COLOR: #f5f6f1
}
.tablecontent {
	FONT-SIZE: 70%; PADDING-BOTTOM: 6px
}
.tablepaddingbottom {
	PADDING-BOTTOM: 6px
}
.scrollnews {
	BORDER-RIGHT: #8e8d8d 1px solid; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 70%; BACKGROUND-IMAGE: url(eg100011.gif); MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 6px; OVERFLOW: auto; BORDER-LEFT: #8e8d8d 1px solid; PADDING-TOP: 6px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 210px; BACKGROUND-COLOR: #f5f6f1
}
.portalfaqboxcontent {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 100%; BACKGROUND-COLOR: #f5f6f1
}
.boxcontent_wh {
	BORDER-RIGHT: #8e8d8d 1px solid; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 70%; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 6px; BORDER-LEFT: #8e8d8d 1px solid; PADDING-TOP: 6px; HEIGHT: 100%; BACKGROUND-COLOR: #fff
}
.boxsidebtm {
	BACKGROUND-IMAGE: url(../images/menu/bottom.gif); MARGIN-BOTTOM: -6px; WIDTH: 172px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 18px
}
.boxsidebtm_wh {
	BACKGROUND-IMAGE: url(eg100013.gif); MARGIN-BOTTOM: -6px; WIDTH: 172px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 16px
}
.boxmainbtm {
	BACKGROUND-IMAGE: url(eg100014.gif); MARGIN-BOTTOM: -6px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 18px
}
.boxwholebtm {
	BACKGROUND-IMAGE: url(eg100032.gif); MARGIN-BOTTOM: -6px; WIDTH: 765px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 18px
}
.boxsmallhead {
	BORDER-RIGHT: #8e8d8d 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 65%; BORDER-LEFT: #8e8d8d 1px solid; PADDING-TOP: 0px; BACKGROUND-COLOR: #fff
}
.bottom {
	BACKGROUND-IMAGE: url(eg100019.gif); BACKGROUND-COLOR: #d6dacb
}
.bottomnavshell {
	WIDTH: 414px
}
.bottomnavshelltop {
	MARGIN-BOTTOM: 6px; WIDTH: 414px
}
.bottomnavtop {
	BACKGROUND-IMAGE: url(eg100020.gif); MARGIN-BOTTOM: -10px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 18px
}
.bottomnavmid {
	FONT-SIZE: 70%; BACKGROUND: #fff; PADDING-BOTTOM: 6px; PADDING-TOP: 2px; HEIGHT: 100%
}
.bottomnavbtm {
	BACKGROUND: url(eg100021.gif) no-repeat; MARGIN-BOTTOM: -10px; HEIGHT: 18px
}
.imagemargin {
	MARGIN: 4px 8px 4px 0px
}
.iconlarge {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 1px
}
.righticonspace {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.righticonsmallspace {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.iconsmall {
	MARGIN: 3px
}
.plawscl {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FLOAT: left; PADDING-BOTTOM: 6px; WIDTH: 20%; PADDING-TOP: 6px
}
.plawscr {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; MARGIN: 0px 0px 0px 20%; PADDING-TOP: 6px
}
.searchfield {
	PADDING-LEFT: 4px; FONT-SIZE: 100%; MARGIN: 2px; WIDTH: 75%; FONT-FAMILY: verdana, arial, helvetica, sans-serif; HEIGHT: 18px
}
.searchfield {
	PADDING-LEFT: 4px; FONT-SIZE: 100%; MARGIN: 2px; WIDTH: 72%; FONT-FAMILY: verdana, arial, helvetica, sans-serif; HEIGHT: 18px
}
.searchgo {
	MARGIN: 4px; VERTICAL-ALIGN: bottom
}
A {
	FONT-WEIGHT: bold; COLOR: #336666; TEXT-DECORATION: none
}
A:visited {
	COLOR: #336666; TEXT-DECORATION: none
}
A:hover {
	COLOR: #981a1b; TEXT-DECORATION: none
}
A.sidenav {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; COLOR: #ffffff; TEXT-DECORATION: none
}
A.sidenav:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.sidenav:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.topnavlang {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; COLOR: #000000; TEXT-DECORATION: none
}
A.topnavlang:visited {
	COLOR: #336666; TEXT-DECORATION: none
}
A.topnavlang:hover {
	COLOR: #981a1b; TEXT-DECORATION: none
}
A.topnav {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; TEXT-DECORATION: none
}
A.topnav:visited {
	COLOR: #336666; TEXT-DECORATION: none
}
A.topnav:hover {
	COLOR: #981a1b; TEXT-DECORATION: none
}
A.bottomnav {
	FONT-WEIGHT: normal; FONT-SIZE: 90%; COLOR: #336666; TEXT-DECORATION: none
}
A.bottomnav:visited {
	COLOR: #336666; TEXT-DECORATION: none
}
A.bottomnav:hover {
	COLOR: #981a1b; TEXT-DECORATION: none
}
A.lifenav {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; VERTICAL-ALIGN: 10px; COLOR: #000000; TEXT-DECORATION: none
}
A.lifenav:visited {
	COLOR: #336666; TEXT-DECORATION: none
}
A.lifenav:hover {
	COLOR: #981a1b; TEXT-DECORATION: none
}
A.columnnav {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; VERTICAL-ALIGN: top; COLOR: #000000; TEXT-DECORATION: none
}
A.columnnav:visited {
	COLOR: #336666; TEXT-DECORATION: none
}
A.columnnav:hover {
	COLOR: #981a1b; TEXT-DECORATION: none
}
A.onlineServ {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; COLOR: #000000; LINE-HEIGHT: 10px; TEXT-DECORATION: none
}
A.onlineServ:visited {
	COLOR: #336666; TEXT-DECORATION: none
}
A.onlineServ:hover {
	COLOR: #981a1b; TEXT-DECORATION: none
}
HR {
	COLOR: #8e8d8d; HEIGHT: 1px
}
.heading_1 {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 120%; MARGIN-BOTTOM: 0px; COLOR: #344232; FONT-STYLE: normal
}
.heading_2 {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 105%; MARGIN-BOTTOM: 0px; COLOR: #344232; FONT-STYLE: normal
}
.heading_3 {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 105%; MARGIN-BOTTOM: 0px; COLOR: #344232; FONT-STYLE: italic
}
.outer_heading_3 {
	BORDER-RIGHT: #8e8d8d 1px solid; PADDING-RIGHT: 6px; MARGIN-TOP: 0px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 75%; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #8e8d8d 1px solid; COLOR: #344232; PADDING-TOP: 6px; HEIGHT: 100%; BACKGROUND-COLOR: #fff
}
.outer_heading_4 {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 105%; MARGIN-BOTTOM: -8px; COLOR: #344232
}
.old_h5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 60%; BACKGROUND: url(012992.gif) no-repeat left bottom; PADDING-BOTTOM: 3px; MARGIN: 0px; WIDTH: 159px; COLOR: #ffffff; PADDING-TOP: 0px
}
.red_text {
	COLOR: red
}
.left_column {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FLOAT: left; PADDING-BOTTOM: 6px; WIDTH: 50%; PADDING-TOP: 6px
}
.right_column {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; MARGIN: 0px 0px 0px 50%; PADDING-TOP: 6px
}
.small_text {
	FONT-SIZE: 90%
}
.graphic_left {
	FLOAT: left; MARGIN-BOTTOM: 5px; MARGIN-RIGHT: 10px
}
.graphic_right {
	FLOAT: right; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 10px
}
.table_text {
	FONT-SIZE: 90%; PADDING-BOTTOM: 6px
}
.target {
	BORDER-RIGHT: #d6dacb 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #d6dacb 1px solid; PADDING-LEFT: 1em; FLOAT: left; PADDING-BOTTOM: 1em; MARGIN-LEFT: 18px; BORDER-LEFT: #d6dacb 1px solid; PADDING-TOP: 1em; BORDER-BOTTOM: #d6dacb 1px solid; POSITION: static; BACKGROUND-COLOR: #ffffff
}
.quote {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FLOAT: left; FONT: italic 100% Georgia, Times New Roman, Times, serif; POSITION: static
}
.source {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FLOAT: left; FONT: 80% Verdana, Arial, Helvetica, sans-serif; COLOR: #666666; POSITION: static
}
.boxmainbtm_os {
	BACKGROUND-IMAGE: url(stel01_013188.gif); MARGIN-BOTTOM: -6px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.boxheadbkgd_os {
	BACKGROUND-IMAGE: url(stel01_013191.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 413px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 27px
}
.tdclass {
	BORDER-RIGHT: #8e8d8d 1px solid; VERTICAL-ALIGN: top; BORDER-LEFT: #8e8d8d 1px solid; BACKGROUND-COLOR: #ffffff
}
.tdclass2 {
	BORDER-RIGHT: #8e8d8d 1px solid; BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(stel01_013186.gif); VERTICAL-ALIGN: top; BORDER-LEFT: #8e8d8d 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fcfbfa
}
.boxheadbkgd2 {
	BACKGROUND-IMAGE: url(stel01_013187.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 100%
}
.boxmainbtm2 {
	BACKGROUND-IMAGE: url(stel01_013189.gif); MARGIN-BOTTOM: -6px; WIDTH: 204px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 17px
}
.boxmainbtm2_white {
	BACKGROUND-IMAGE: url(stel01_013190.gif); MARGIN-BOTTOM: -6px; WIDTH: 204px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 17px
}
.smallheadshell2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 60%; PADDING-BOTTOM: 10px; TEXT-TRANSFORM: uppercase; COLOR: #344232; BOTTOM: 2px; POSITION: relative; TOP: 4px
}
.boxcontent2 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 60%; MARGIN-BOTTOM: 4px; COLOR: #000000; TEXT-DECORATION: none
}
.boxshellmain2 {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 0px; WIDTH: 589px
}
.boxheadbkgd_wh2 {
	BACKGROUND-IMAGE: url(stel01_130084.gif); WIDTH: 589px; BACKGROUND-REPEAT: no-repeat
}
.boxmainbtm_os2 {
	BACKGROUND-IMAGE: url(stel01_130086.gif); MARGIN-BOTTOM: -6px; WIDTH: 589px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.splashTable {
	BORDER-TOP-WIDTH: 5px; BACKGROUND: #ffffff; WIDTH: 769px; HEIGHT: 100%
}
#splash {
	BORDER-TOP: #867e72 1px solid; BACKGROUND: url(splashBack.jpg) #ffffff repeat-x; BORDER-BOTTOM: #867e72 1px solid; HEIGHT: 320px
}
.whiteText {
	MARGIN-TOP: 35px; FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #ffffff
}
.splashMid {
	MARGIN-TOP: 30px; MARGIN-BOTTOM: 20px; MARGIN-LEFT: 90px; HEIGHT: 152px
}
.splashButton {
	MARGIN-TOP: 50px; DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 100%; BACKGROUND: url(buttonBack.gif) no-repeat; FLOAT: left; VERTICAL-ALIGN: middle; WIDTH: 176px; COLOR: #626c5d; LINE-HEIGHT: 40px; HEIGHT: 42px
}
.splashImage {
	FLOAT: left; MARGIN-LEFT: 15px; MARGIN-RIGHT: 15px
}
.splashcenter {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(cellBackground.jpg); PADDING-BOTTOM: 20px; PADDING-TOP: 10px
}
